<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>直播吧热评</title>
<link rel="stylesheet" th:href="@{/css/itbook.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/css/font-awesome.css}"></link>
<style>
	#searchform
	{
		border:1px solid #96c2f1;background:#eff7ff;
	}
	#searchform input{
		background-color: rgba(165, 218, 169, 0.87);
	}
	
	#searchform select{
		background-color: rgba(165, 218, 169, 0.87);
	}
	#searchform table {
		background-color : rgba(75, 117, 212, 0.29);
		width:100%;
		border: solid 1px Black;
		border-collapse: collapse;
    	border-color: grey;
	}
	
	#searchform table td{
		border: solid 1px Black;
		border-collapse: collapse;
    	border-color: rgba(112, 162, 155, 0.48);
	}
	
	.first-cmt {
		background-color: rgba(220, 151, 151, 0.65);
	}
</style>
<script th:src="@{/js/jquery-1.11.1.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<script th:src="@{/js/app.js}"></script>

<script type="text/javascript" th:inline="javascript">
	function findEmoji(text){
		$.each(cnNamesEmojis, function(i, obj){
			var cnName = cnNamesEmojis[i][0];
			if(text.indexOf(cnName) != -1){
				var x = [[@{/images/}]];
				text = text.replace(new RegExp(cnName.replace('[','\\[').replace(']','\\]'),'g'), "<img width="+30+" src="+x+cnNamesEmojis[i][1]+"/>");
			}
		});
		return text;
	}
	$(function(){
		$('.cmt-content').click(function(){
			console.log($(this).prev().text());
			$.post([[@{/spyapi/zb8/favoritecmt}]],{id:$(this).prev().text()}, function(data){
        		layer.alert(data,
                    {
        			//选项列表, 显示2秒钟, end函数在层小时的时候自动回调
        				time:2000,
        				shadeClose: true
        			},
        			//yes按钮回调函数
        			function(index){
        				//window.location.reload();//刷新当前页面  
        				layer.close(index);
                    }
        		);
			});
		});
	});
	
	function changeDate(){
		$("input[name='page']").val(1);
		$("input[name='day']").val($("#dayStr").val());
		$("form").submit();
	}
	
	function lastDay(){
		var day = getDateStr($("#dayStr").val(), -1);
		$("#dayStr").val(day);
		changeDate();
	}
	
	function nextDay(){
		var day = getDateStr($("#dayStr").val(), 1);
		$("#dayStr").val(day);
		changeDate();
	}
	
</script>

</head>
<body class="body-bg-lightgreen">
	<div th:replace="header :: header('今日热评.')"></div>
	
	<div class="content">
		<div style="font-size:30px">
			<input id="dayStr" type="date" th:value="${day}" onchange="changeDate()" /> 
			<a th:href="@{/spyapi/zb8/comments}" style="margin-right:20px"> 重置</a>
			<a target="_blank" th:href="@{/spyapi/zb8/favoritelist}"> 热评收藏</a>
			<span style="margin-left: 40px;"></span>
			<a target="_blank" onclick="lastDay()" href="javascript:void(0)"> 前一天</a>
			<a target="_blank" onclick="nextDay()" href="javascript:void(0)"> 后一天</a>
		</div>
		<div>
			<form id="searchform" method="GET" th:action="@{/spyapi/zb8/comments}">
				<input type="hidden" name="page" th:value="${pageData.pageNum}" />
				<input type="hidden" name="size" th:value="${pageData.pageSize}" />
				<input type="hidden" name="day" th:value="${day}" />
				<input type="hidden" name="orderNews" th:value="${orderNews}" />
			</form>
		</div>
		
		<div class="datadiv">
			<h3>搜索结果</h3>
			<table class="datatable">
				<thead>
					<tr>
						<th class="obj-hide">id</th>
						<th style="width:25%">内容</th>
						<th style="width:6%">好评度</th>
						<th style="width:12%">新闻标题</th>
						<th style="width:8%">创建时间</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="log,iterStat : ${pageData}">
						<tr height="100px" th:class="${log.zb8News?.describe}?first-cmt:(${iterStat.even}?row-bg-even:row-bg-odd)" th:onclick="|showline(this,${iterStat.count});exChangeBgColor(this)|" >
							<td th:text="${log.id}" class="obj-hide">id</td>
							<td th:inline="javascript" class="cmt-content">
								<script th:inline="javascript">
									var msg = [[${log.content}]];
									document.write(findEmoji(msg));
								</script>
							</td>
							<td><span th:text="|${log.up} - ${log.down}|"></span></td>
							<td style="font-size:16px"><a target="_blank" th:text="${log.zb8News?.title}" th:href="|https://m.zhibo8.cc/news/web${log.zb8News?.url}|">content</a></td>
							<td th:text="${log.createtime}">0</td>
						</tr>
					</th:block>
					<th:block th:if="${pageData.size()} eq 0">
						<tr><td align="center" colspan="6">没有搜素到数据!</td></tr>
					</th:block>
				</tbody>
			</table>
			
		</div>
		<div th:include="pagnation :: pagnation(${pageData})"></div>
	</div>
	
	<div th:replace="footer :: copy"></div>
</body>
</html>