<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>知乎每日热点跟踪</title>
<link rel="stylesheet" th:href="@{/css/itbook.css}"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/css/font-awesome.css}"></link>
<script th:src="@{/js/jquery-1.11.1.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<style>
.summary {
	margin-bottom: 10px;
	font-size: 20px;
	padding: 5px;
}

.desc {
	padding:5px;
}
.cnt{
	color:red;
	margin-right:5px;
}
#dateGroups input[name='aggreCode']{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}
#dateGroups {
	font-size: 30px;
}
.nodata {
	color: red;
	font-size: 32px;
	padding: 40px;
	position: fixed;
}
.b1,.b2,.b3,.b4,.b1b,.b2b,.b3b,.b4b,.b{display:block;overflow:hidden;}
.b1,.b2,.b3,.b1b,.b2b,.b3b{height:1px;}
.b2,.b3,.b4,.b2b,.b3b,.b4b,.b{border-left:1px solid #999;border-right:1px solid #999;}
.b1,.b1b{margin:0 5px;background:#999;}
.b2,.b2b{margin:0 3px;border-width:2px;}
.b3,.b3b{margin:0 2px;}
.b4,.b4b{height:2px;margin:0 1px;}
</style>

<script type="text/javascript" th:inline="javascript">
	$(function(){
		$("input[name='aggreCode']:eq([[${aggreCode-1}]])").prop('checked',true);
		$(".sel:eq([[${aggreCode-1}]])").show().siblings('.sel').hide();
		$("input[name='aggreCode']").click(function(){
			$(".sel:eq("+($(this).val()-1)+")").show().siblings('.sel').hide();
			
			if($(this).val() == 4){
				if($("#yearStr").val()=='')
					$("#yearStr").val(new Date().getFullYear());
			}
			
			if($(this).val() == 3){
				if($("#yearMonthStr").val()=='')
					$("#yearMonthStr").val(getYearMonth());
			}
			
			if($(this).val() == 2){
				if($("#weekStr").val()=='')
					$("#weekStr").val(getTheWeek());
			}
			
			changeDate();
		});
		
	});
	
	function action(val){
		$("#action").val(val);	
		$("form").submit();
	}
	
	function changeDate(){
		$("#action").val('');
		//window.location.href=[[@{/spyapi/zhihu/aggre}]]+"?dateStr="+$(obj).val();
		$("form").submit();
	}
</script>

</head>
<body class="body-bg-lightgreen">
	<div th:replace="header :: header('大V在干什么.')"></div>
	<div class="content">
		<form th:action="@{/spyapi/zhihu/aggre}" th:object="${user}" method="get" th:method="get">
			<div id="dateGroups">
				<input class="sel" id="dateStr" type="date" name="dateStr" th:value="${dateStr}" onchange="changeDate()"/>
				<input class="sel" id="weekStr" type="week" name="weekStr" th:value="${weekStr}" onchange="changeDate()"/>
				<input class="sel" id="yearMonthStr" type="month" name="yearMonthStr" th:value="${yearMonthStr}" onchange="changeDate()"/>
				<select class="sel" id="yearStr" name="yearStr" th:value="${yearStr}" onchange="changeDate()">
					<option value=""></option>
					<option value="2017" th:selected="${yearStr=='2017'}">2017</option>
					<option value="2018" th:selected="${yearStr=='2018'}">2018</option>
					<option value="2019" th:selected="${yearStr=='2019'}">2019</option>
					<option value="2020" th:selected="${yearStr=='2020'}">2020</option>
				</select>
				<input id="action" type="hidden" th:value="${action}" name="action" />
				每日<input type="radio" value="1" name="aggreCode" /> 每周<input type="radio" value="2" name="aggreCode"/> 每月<input type="radio" value="3" name="aggreCode"/>每年<input type="radio" value="4" name="aggreCode"/>
				
				<a target="_blank" onclick="action(-1)" href="javascript:void(0)"> 前一段</a>
				<a target="_blank" onclick="action(1)" href="javascript:void(0)"> 后一段</a>
			</div>
		</form>
		<div class="summary-list">
			<div class="summary" th:each="example : ${data}">
				<b class="b1"></b>
				<b class="b2" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd"></b>
				<b class="b3" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd"></b>
				<b class="b4" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd"></b>
				<div class="b desc" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd">
					<div>
						<div>
							<span th:text="${example.cnt}" class="cnt"></span>
							<a target="_blank" th:href="|${example.url}|" th:utext="${example.title}">Target Title</a>
						</div>
						<div th:utext="${example.description}"></div>
					</div>
				</div>
				<b class="b4b" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd"></b>
				<b class="b3b" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd"></b>
				<b class="b2b" th:classappend="${exampleStat.even}?row-bg-even:row-bg-odd"></b>
				<b class="b1b"></b>
			</div>
			
			<th:block th:if="${data.size()} eq 0">
				<span class="nodata">没有搜素到数据!</span>
			</th:block>
		</div>
		
	</div>
	<div th:replace="footer :: copy"></div>
</body>
</html>