<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ITbook Icon Show</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/css/simple-line-icons.css}"></link>
</head>
<body style="width: 70%; margin: 0 auto;">
	<div>
		<em class="icon-user"></em> &nbsp;<em class="icon-people"></em> &nbsp;<em
			class="icon-user-female"></em> &nbsp;<em class="icon-user-follow"></em>
		&nbsp;<em class="icon-user-following"></em> &nbsp;<em
			class="icon-user-unfollow"></em> &nbsp;<em class="icon-login"></em>
		&nbsp;<em class="icon-logout"></em> &nbsp;<em class="icon-emotsmile"></em>
		&nbsp;<em class="icon-phone"></em> &nbsp;<em class="icon-call-end"></em>
		&nbsp;<em class="icon-call-in"></em> &nbsp;<em class="icon-call-out"></em>
		&nbsp;<em class="icon-map"></em> &nbsp;<em class="icon-location-pin"></em>
		&nbsp;<em class="icon-direction"></em> &nbsp;<em
			class="icon-directions"></em> &nbsp;<em class="icon-compass"></em>
		&nbsp;<em class="icon-layers"></em> &nbsp;<em class="icon-menu"></em>
		&nbsp;<em class="icon-list"></em> &nbsp;<em
			class="icon-options-vertical"></em> &nbsp;<em class="icon-options"></em>
		&nbsp;<em class="icon-arrow-down"></em> &nbsp;<em
			class="icon-arrow-left"></em> &nbsp;<em class="icon-arrow-right"></em>
		&nbsp;<em class="icon-arrow-up"></em> &nbsp;<em
			class="icon-arrow-up-circle"></em> &nbsp;<em
			class="icon-arrow-left-circle"></em> &nbsp;<em
			class="icon-arrow-right-circle"></em> &nbsp;<em
			class="icon-arrow-down-circle"></em> &nbsp;<em class="icon-check"></em>
		&nbsp;<em class="icon-clock"></em> &nbsp;<em class="icon-plus"></em>
		&nbsp;<em class="icon-close"></em> &nbsp;<em class="icon-trophy"></em>
		&nbsp;<em class="icon-screen-smartphone"></em> &nbsp;<em
			class="icon-screen-desktop"></em> &nbsp;<em class="icon-plane"></em>
		&nbsp;<em class="icon-notebook"></em> &nbsp;<em class="icon-mustache"></em>
		&nbsp;<em class="icon-mouse"></em> &nbsp;<em class="icon-magnet"></em>
		&nbsp;<em class="icon-energy"></em> &nbsp;<em class="icon-disc"></em>
		&nbsp;<em class="icon-cursor"></em> &nbsp;<em class="icon-cursor-move"></em>
		&nbsp;<em class="icon-crop"></em> &nbsp;<em class="icon-chemistry"></em>
		&nbsp;<em class="icon-speedometer"></em> &nbsp;<em class="icon-shield"></em>
		&nbsp;<em class="icon-screen-tablet"></em> &nbsp;<em
			class="icon-magic-wand"></em> &nbsp;<em class="icon-hourglass"></em>
		&nbsp;<em class="icon-graduation"></em> &nbsp;<em class="icon-ghost"></em>
		&nbsp;<em class="icon-game-controller"></em> &nbsp;<em
			class="icon-fire"></em> &nbsp;<em class="icon-eyeglass"></em> &nbsp;<em
			class="icon-envelope-open"></em> &nbsp;<em
			class="icon-envelope-letter"></em> &nbsp;<em class="icon-bell"></em>
		&nbsp;<em class="icon-badge"></em> &nbsp;<em class="icon-anchor"></em>
		&nbsp;<em class="icon-wallet"></em> &nbsp;<em class="icon-vector"></em>
		&nbsp;<em class="icon-speech"></em> &nbsp;<em class="icon-puzzle"></em>
		&nbsp;<em class="icon-printer"></em> &nbsp;<em class="icon-present"></em>
		&nbsp;<em class="icon-playlist"></em> &nbsp;<em class="icon-pin"></em>
		&nbsp;<em class="icon-picture"></em> &nbsp;<em class="icon-handbag"></em>
		&nbsp;<em class="icon-globe-alt"></em> &nbsp;<em class="icon-globe"></em>
		&nbsp;<em class="icon-folder-alt"></em> &nbsp;<em class="icon-folder"></em>
		&nbsp;<em class="icon-film"></em> &nbsp;<em class="icon-feed"></em>
		&nbsp;<em class="icon-drop"></em> &nbsp;<em class="icon-drawar"></em>
		&nbsp;<em class="icon-docs"></em> &nbsp;<em class="icon-doc"></em>
		&nbsp;<em class="icon-diamond"></em> &nbsp;<em class="icon-cup"></em>
		&nbsp;<em class="icon-calculator"></em> &nbsp;<em class="icon-bubbles"></em>
		&nbsp;<em class="icon-briefcase"></em> &nbsp;<em
			class="icon-book-open"></em> &nbsp;<em class="icon-basket-loaded"></em>
		&nbsp;<em class="icon-basket"></em> &nbsp;<em class="icon-bag"></em>
		&nbsp;<em class="icon-action-undo"></em> &nbsp;<em
			class="icon-action-redo"></em> &nbsp;<em class="icon-wrench"></em>
		&nbsp;<em class="icon-umbrella"></em> &nbsp;<em class="icon-trash"></em>
		&nbsp;<em class="icon-tag"></em> &nbsp;<em class="icon-support"></em>
		&nbsp;<em class="icon-frame"></em> &nbsp;<em
			class="icon-size-fullscreen"></em> &nbsp;<em class="icon-size-actual"></em>
		&nbsp;<em class="icon-shuffle"></em> &nbsp;<em class="icon-share-alt"></em>
		&nbsp;<em class="icon-share"></em> &nbsp;<em class="icon-rocket"></em>
		&nbsp;<em class="icon-question"></em> &nbsp;<em class="icon-pie-chart"></em>
		&nbsp;<em class="icon-pencil"></em> &nbsp;<em class="icon-note"></em>
		&nbsp;<em class="icon-loop"></em> &nbsp;<em class="icon-home"></em>
		&nbsp;<em class="icon-grid"></em> &nbsp;<em class="icon-graph"></em>
		&nbsp;<em class="icon-microphone"></em> &nbsp;<em
			class="icon-music-tone-alt"></em> &nbsp;<em class="icon-music-tone"></em>
		&nbsp;<em class="icon-earphones-alt"></em> &nbsp;<em
			class="icon-earphones"></em> &nbsp;<em class="icon-equalizer"></em>
		&nbsp;<em class="icon-like"></em> &nbsp;<em class="icon-dislike"></em>
		&nbsp;<em class="icon-control-start"></em> &nbsp;<em
			class="icon-control-rewind"></em> &nbsp;<em class="icon-control-play"></em>
		&nbsp;<em class="icon-control-pause"></em> &nbsp;<em
			class="icon-control-forward"></em> &nbsp;<em class="icon-control-end"></em>
		&nbsp;<em class="icon-volume-"></em> &nbsp;<em class="icon-volume-"></em>
		&nbsp;<em class="icon-volume-off"></em> &nbsp;<em
			class="icon-calendar"></em> &nbsp;<em class="icon-bulb"></em> &nbsp;<em
			class="icon-chart"></em> &nbsp;<em class="icon-ban"></em> &nbsp;<em
			class="icon-bubble"></em> &nbsp;<em class="icon-camrecorder"></em>
		&nbsp;<em class="icon-camera"></em> &nbsp;<em
			class="icon-cloud-download"></em> &nbsp;<em class="icon-cloud-upload"></em>
		&nbsp;<em class="icon-envelope"></em> &nbsp;<em class="icon-eye"></em>
		&nbsp;<em class="icon-flag"></em> &nbsp;<em class="icon-heart"></em>
		&nbsp;<em class="icon-info"></em> &nbsp;<em class="icon-key"></em>
		&nbsp;<em class="icon-link"></em> &nbsp;<em class="icon-lock"></em>
		&nbsp;<em class="icon-lock-open"></em> &nbsp;<em
			class="icon-magnifier"></em> &nbsp;<em class="icon-magnifier-add"></em>
		&nbsp;<em class="icon-magnifier-remove"></em> &nbsp;<em
			class="icon-paper-clip"></em> &nbsp;<em class="icon-paper-plane"></em>
		&nbsp;<em class="icon-power"></em> &nbsp;<em class="icon-refresh"></em>
		&nbsp;<em class="icon-reload"></em> &nbsp;<em class="icon-settings"></em>
		&nbsp;<em class="icon-star"></em> &nbsp;<em class="icon-symble-female"></em>
		&nbsp;<em class="icon-symbol-male"></em> &nbsp;<em class="icon-target"></em>
		&nbsp;<em class="icon-credit-card"></em> &nbsp;<em class="icon-paypal"></em>
		&nbsp;<em class="icon-social-tumblr"></em> &nbsp;<em
			class="icon-social-twitter"></em> &nbsp;<em
			class="icon-social-facebook"></em> &nbsp;<em
			class="icon-social-instagram"></em> &nbsp;<em
			class="icon-social-linkedin"></em> &nbsp;<em
			class="icon-social-pinterest"></em> &nbsp;<em
			class="icon-social-github"></em> &nbsp;<em class="icon-social-gplus"></em>
		&nbsp;<em class="icon-social-reddit"></em> &nbsp;<em
			class="icon-social-skype"></em> &nbsp;<em
			class="icon-social-dribbble"></em> &nbsp;<em
			class="icon-social-behance"></em> &nbsp;<em
			class="icon-social-foursqare"></em> &nbsp;<em
			class="icon-social-soundcloud"></em> &nbsp;<em
			class="icon-social-spotify"></em> &nbsp;<em
			class="icon-social-stumbleupon"></em> &nbsp;<em
			class="icon-social-youtube"></em> &nbsp;<em
			class="icon-social-dropbox"></em> &nbsp;
	</div>
</body>
</html>