<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ITbook Icon Show</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/css/font-awesome.css}"></link>
</head>
<body style="width: 70%; margin: 0 auto;">
	<div>
		<em class="fa fa-glass"></em> &nbsp;<em class="fa fa-music"></em>
		&nbsp;<em class="fa fa-search"></em> &nbsp;<em
			class="fa fa-envelope-o"></em> &nbsp;<em class="fa fa-heart"></em>
		&nbsp;<em class="fa fa-star"></em> &nbsp;<em class="fa fa-star-o"></em>
		&nbsp;<em class="fa fa-user"></em> &nbsp;<em class="fa fa-film"></em>
		&nbsp;<em class="fa fa-th-large"></em> &nbsp;<br /> <em
			class="fa fa-th"></em> &nbsp;<em class="fa fa-th-list"></em> &nbsp;<em
			class="fa fa-check"></em> &nbsp;<em class="fa fa-remove"></em> &nbsp;<em
			class="fa fa-close"></em> &nbsp;<em class="fa fa-times"></em> &nbsp;<em
			class="fa fa-search-plus"></em> &nbsp;<em class="fa fa-search-minus"></em>
		&nbsp;<em class="fa fa-power-off"></em> &nbsp;<em class="fa fa-signal"></em>
		&nbsp;<br /> <em class="fa fa-gear"></em> &nbsp;<em class="fa fa-cog"></em>
		&nbsp;<em class="fa fa-trash-o"></em> &nbsp;<em class="fa fa-home"></em>
		&nbsp;<em class="fa fa-file-o"></em> &nbsp;<em class="fa fa-clock-o"></em>
		&nbsp;<em class="fa fa-road"></em> &nbsp;<em class="fa fa-download"></em>
		&nbsp;<em class="fa fa-arrow-circle-o-down"></em> &nbsp;<em
			class="fa fa-arrow-circle-o-up"></em> &nbsp;<br /> <em
			class="fa fa-inbox"></em> &nbsp;<em class="fa fa-play-circle-o"></em>
		&nbsp;<em class="fa fa-rotate-right"></em> &nbsp;<em
			class="fa fa-repeat"></em> &nbsp;<em class="fa fa-refresh"></em>
		&nbsp;<em class="fa fa-list-alt"></em> &nbsp;<em class="fa fa-lock"></em>
		&nbsp;<em class="fa fa-flag"></em> &nbsp;<em class="fa fa-headphones"></em>
		&nbsp;<em class="fa fa-volume-off"></em> &nbsp;<br /> <em
			class="fa fa-volume-down"></em> &nbsp;<em class="fa fa-volume-up"></em>
		&nbsp;<em class="fa fa-qrcode"></em> &nbsp;<em class="fa fa-barcode"></em>
		&nbsp;<em class="fa fa-tag"></em> &nbsp;<em class="fa fa-tags"></em>
		&nbsp;<em class="fa fa-book"></em> &nbsp;<em class="fa fa-bookmark"></em>
		&nbsp;<em class="fa fa-print"></em> &nbsp;<em class="fa fa-camera"></em>
		&nbsp;<br /> <em class="fa fa-font"></em> &nbsp;<em class="fa fa-bold"></em>
		&nbsp;<em class="fa fa-italic"></em> &nbsp;<em
			class="fa fa-text-height"></em> &nbsp;<em class="fa fa-text-width"></em>
		&nbsp;<em class="fa fa-align-left"></em> &nbsp;<em
			class="fa fa-align-center"></em> &nbsp;<em class="fa fa-align-right"></em>
		&nbsp;<em class="fa fa-align-justify"></em> &nbsp;<em
			class="fa fa-list"></em> &nbsp;<br /> <em class="fa fa-dedent"></em>
		&nbsp;<em class="fa fa-outdent"></em> &nbsp;<em class="fa fa-indent"></em>
		&nbsp;<em class="fa fa-video-camera"></em> &nbsp;<em
			class="fa fa-photo"></em> &nbsp;<em class="fa fa-image"></em> &nbsp;<em
			class="fa fa-picture-o"></em> &nbsp;<em class="fa fa-pencil"></em>
		&nbsp;<em class="fa fa-map-marker"></em> &nbsp;<em
			class="fa fa-adjust"></em> &nbsp;<br /> <em class="fa fa-tint"></em>
		&nbsp;<em class="fa fa-edit"></em> &nbsp;<em
			class="fa fa-pencil-square-o"></em> &nbsp;<em
			class="fa fa-share-square-o"></em> &nbsp;<em
			class="fa fa-check-square-o"></em> &nbsp;<em class="fa fa-arrows"></em>
		&nbsp;<em class="fa fa-step-backward"></em> &nbsp;<em
			class="fa fa-fast-backward"></em> &nbsp;<em class="fa fa-backward"></em>
		&nbsp;<em class="fa fa-play"></em> &nbsp;<br /> <em
			class="fa fa-pause"></em> &nbsp;<em class="fa fa-stop"></em> &nbsp;<em
			class="fa fa-forward"></em> &nbsp;<em class="fa fa-fast-forward"></em>
		&nbsp;<em class="fa fa-step-forward"></em> &nbsp;<em
			class="fa fa-eject"></em> &nbsp;<em class="fa fa-chevron-left"></em>
		&nbsp;<em class="fa fa-chevron-right"></em> &nbsp;<em
			class="fa fa-plus-circle"></em> &nbsp;<em class="fa fa-minus-circle"></em>
		&nbsp;<br /> <em class="fa fa-times-circle"></em> &nbsp;<em
			class="fa fa-check-circle"></em> &nbsp;<em
			class="fa fa-question-circle"></em> &nbsp;<em
			class="fa fa-info-circle"></em> &nbsp;<em class="fa fa-crosshairs"></em>
		&nbsp;<em class="fa fa-times-circle-o"></em> &nbsp;<em
			class="fa fa-check-circle-o"></em> &nbsp;<em class="fa fa-ban"></em>
		&nbsp;<em class="fa fa-arrow-left"></em> &nbsp;<em
			class="fa fa-arrow-right"></em> &nbsp;<br /> <em
			class="fa fa-arrow-up"></em> &nbsp;<em class="fa fa-arrow-down"></em>
		&nbsp;<em class="fa fa-mail-forward"></em> &nbsp;<em
			class="fa fa-share"></em> &nbsp;<em class="fa fa-expand"></em> &nbsp;<em
			class="fa fa-compress"></em> &nbsp;<em class="fa fa-plus"></em>
		&nbsp;<em class="fa fa-minus"></em> &nbsp;<em class="fa fa-asterisk"></em>
		&nbsp;<em class="fa fa-exclamation-circle"></em> &nbsp;<br /> <em
			class="fa fa-gift"></em> &nbsp;<em class="fa fa-leaf"></em> &nbsp;<em
			class="fa fa-fire"></em> &nbsp;<em class="fa fa-eye"></em> &nbsp;<em
			class="fa fa-eye-slash"></em> &nbsp;<em class="fa fa-warning"></em>
		&nbsp;<em class="fa fa-exclamation-triangle"></em> &nbsp;<em
			class="fa fa-plane"></em> &nbsp;<em class="fa fa-calendar"></em>
		&nbsp;<em class="fa fa-random"></em> &nbsp;<br /> <em
			class="fa fa-comment"></em> &nbsp;<em class="fa fa-magnet"></em>
		&nbsp;<em class="fa fa-chevron-up"></em> &nbsp;<em
			class="fa fa-chevron-down"></em> &nbsp;<em class="fa fa-retweet"></em>
		&nbsp;<em class="fa fa-shopping-cart"></em> &nbsp;<em
			class="fa fa-folder"></em> &nbsp;<em class="fa fa-folder-open"></em>
		&nbsp;<em class="fa fa-arrows-v"></em> &nbsp;<em
			class="fa fa-arrows-h"></em> &nbsp;<br /> <em
			class="fa fa-bar-chart-o"></em> &nbsp;<em class="fa fa-bar-chart"></em>
		&nbsp;<em class="fa fa-twitter-square"></em> &nbsp;<em
			class="fa fa-facebook-square"></em> &nbsp;<em
			class="fa fa-camera-retro"></em> &nbsp;<em class="fa fa-key"></em>
		&nbsp;<em class="fa fa-gears"></em> &nbsp;<em class="fa fa-cogs"></em>
		&nbsp;<em class="fa fa-comments"></em> &nbsp;<em
			class="fa fa-thumbs-o-up"></em> &nbsp;<br /> <em
			class="fa fa-thumbs-o-down"></em> &nbsp;<em class="fa fa-star-half"></em>
		&nbsp;<em class="fa fa-heart-o"></em> &nbsp;<em class="fa fa-sign-out"></em>
		&nbsp;<em class="fa fa-linkedin-square"></em> &nbsp;<em
			class="fa fa-thumb-tack"></em> &nbsp;<em class="fa fa-external-link"></em>
		&nbsp;<em class="fa fa-sign-in"></em> &nbsp;<em class="fa fa-trophy"></em>
		&nbsp;<em class="fa fa-github-square"></em> &nbsp;<br /> <em
			class="fa fa-upload"></em> &nbsp;<em class="fa fa-lemon-o"></em>
		&nbsp;<em class="fa fa-phone"></em> &nbsp;<em class="fa fa-square-o"></em>
		&nbsp;<em class="fa fa-bookmark-o"></em> &nbsp;<em
			class="fa fa-phone-square"></em> &nbsp;<em class="fa fa-twitter"></em>
		&nbsp;<em class="fa fa-facebook-f"></em> &nbsp;<em
			class="fa fa-facebook"></em> &nbsp;<em class="fa fa-github"></em>
		&nbsp;<br /> <em class="fa fa-unlock"></em> &nbsp;<em
			class="fa fa-credit-card"></em> &nbsp;<em class="fa fa-feed"></em>
		&nbsp;<em class="fa fa-rss"></em> &nbsp;<em class="fa fa-hdd-o"></em>
		&nbsp;<em class="fa fa-bullhorn"></em> &nbsp;<em class="fa fa-bell"></em>
		&nbsp;<em class="fa fa-certificate"></em> &nbsp;<em
			class="fa fa-hand-o-right"></em> &nbsp;<em class="fa fa-hand-o-left"></em>
		&nbsp;<br /> <em class="fa fa-hand-o-up"></em> &nbsp;<em
			class="fa fa-hand-o-down"></em> &nbsp;<em
			class="fa fa-arrow-circle-left"></em> &nbsp;<em
			class="fa fa-arrow-circle-right"></em> &nbsp;<em
			class="fa fa-arrow-circle-up"></em> &nbsp;<em
			class="fa fa-arrow-circle-down"></em> &nbsp;<em class="fa fa-globe"></em>
		&nbsp;<em class="fa fa-wrench"></em> &nbsp;<em class="fa fa-tasks"></em>
		&nbsp;<em class="fa fa-filter"></em> &nbsp;<br /> <em
			class="fa fa-briefcase"></em> &nbsp;<em class="fa fa-arrows-alt"></em>
		&nbsp;<em class="fa fa-group"></em> &nbsp;<em class="fa fa-users"></em>
		&nbsp;<em class="fa fa-chain"></em> &nbsp;<em class="fa fa-link"></em>
		&nbsp;<em class="fa fa-cloud"></em> &nbsp;<em class="fa fa-flask"></em>
		&nbsp;<em class="fa fa-cut"></em> &nbsp;<em class="fa fa-scissors"></em>
		&nbsp;<br /> <em class="fa fa-copy"></em> &nbsp;<em
			class="fa fa-files-o"></em> &nbsp;<em class="fa fa-paperclip"></em>
		&nbsp;<em class="fa fa-save"></em> &nbsp;<em class="fa fa-floppy-o"></em>
		&nbsp;<em class="fa fa-square"></em> &nbsp;<em class="fa fa-navicon"></em>
		&nbsp;<em class="fa fa-reorder"></em> &nbsp;<em class="fa fa-bars"></em>
		&nbsp;<em class="fa fa-list-ul"></em> &nbsp;<br /> <em
			class="fa fa-list-ol"></em> &nbsp;<em class="fa fa-strikethrough"></em>
		&nbsp;<em class="fa fa-underline"></em> &nbsp;<em class="fa fa-table"></em>
		&nbsp;<em class="fa fa-magic"></em> &nbsp;<em class="fa fa-truck"></em>
		&nbsp;<em class="fa fa-pinterest"></em> &nbsp;<em
			class="fa fa-pinterest-square"></em> &nbsp;<em
			class="fa fa-google-plus-square"></em> &nbsp;<em
			class="fa fa-google-plus"></em> &nbsp;<br /> <em class="fa fa-money"></em>
		&nbsp;<em class="fa fa-caret-down"></em> &nbsp;<em
			class="fa fa-caret-up"></em> &nbsp;<em class="fa fa-caret-left"></em>
		&nbsp;<em class="fa fa-caret-right"></em> &nbsp;<em
			class="fa fa-columns"></em> &nbsp;<em class="fa fa-unsorted"></em>
		&nbsp;<em class="fa fa-sort"></em> &nbsp;<em class="fa fa-sort-down"></em>
		&nbsp;<em class="fa fa-sort-desc"></em> &nbsp;<br /> <em
			class="fa fa-sort-up"></em> &nbsp;<em class="fa fa-sort-asc"></em>
		&nbsp;<em class="fa fa-envelope"></em> &nbsp;<em
			class="fa fa-linkedin"></em> &nbsp;<em class="fa fa-rotate-left"></em>
		&nbsp;<em class="fa fa-undo"></em> &nbsp;<em class="fa fa-legal"></em>
		&nbsp;<em class="fa fa-gavel"></em> &nbsp;<em class="fa fa-dashboard"></em>
		&nbsp;<em class="fa fa-tachometer"></em> &nbsp;<br /> <em
			class="fa fa-comment-o"></em> &nbsp;<em class="fa fa-comments-o"></em>
		&nbsp;<em class="fa fa-flash"></em> &nbsp;<em class="fa fa-bolt"></em>
		&nbsp;<em class="fa fa-sitemap"></em> &nbsp;<em class="fa fa-umbrella"></em>
		&nbsp;<em class="fa fa-paste"></em> &nbsp;<em class="fa fa-clipboard"></em>
		&nbsp;<em class="fa fa-lightbulb-o"></em> &nbsp;<em
			class="fa fa-exchange"></em> &nbsp;<br /> <em
			class="fa fa-cloud-download"></em> &nbsp;<em
			class="fa fa-cloud-upload"></em> &nbsp;<em class="fa fa-user-md"></em>
		&nbsp;<em class="fa fa-stethoscope"></em> &nbsp;<em
			class="fa fa-suitcase"></em> &nbsp;<em class="fa fa-bell-o"></em>
		&nbsp;<em class="fa fa-coffee"></em> &nbsp;<em class="fa fa-cutlery"></em>
		&nbsp;<em class="fa fa-file-text-o"></em> &nbsp;<em
			class="fa fa-building-o"></em> &nbsp;<br /> <em
			class="fa fa-hospital-o"></em> &nbsp;<em class="fa fa-ambulance"></em>
		&nbsp;<em class="fa fa-medkit"></em> &nbsp;<em
			class="fa fa-fighter-jet"></em> &nbsp;<em class="fa fa-beer"></em>
		&nbsp;<em class="fa fa-h-square"></em> &nbsp;<em
			class="fa fa-plus-square"></em> &nbsp;<em
			class="fa fa-angle-double-left"></em> &nbsp;<em
			class="fa fa-angle-double-right"></em> &nbsp;<em
			class="fa fa-angle-double-up"></em> &nbsp;<br /> <em
			class="fa fa-angle-double-down"></em> &nbsp;<em
			class="fa fa-angle-left"></em> &nbsp;<em class="fa fa-angle-right"></em>
		&nbsp;<em class="fa fa-angle-up"></em> &nbsp;<em
			class="fa fa-angle-down"></em> &nbsp;<em class="fa fa-desktop"></em>
		&nbsp;<em class="fa fa-laptop"></em> &nbsp;<em class="fa fa-tablet"></em>
		&nbsp;<em class="fa fa-mobile-phone"></em> &nbsp;<em
			class="fa fa-mobile"></em> &nbsp;<br /> <em class="fa fa-circle-o"></em>
		&nbsp;<em class="fa fa-quote-left"></em> &nbsp;<em
			class="fa fa-quote-right"></em> &nbsp;<em class="fa fa-spinner"></em>
		&nbsp;<em class="fa fa-circle"></em> &nbsp;<em
			class="fa fa-mail-reply"></em> &nbsp;<em class="fa fa-reply"></em>
		&nbsp;<em class="fa fa-github-alt"></em> &nbsp;<em
			class="fa fa-folder-o"></em> &nbsp;<em class="fa fa-folder-open-o"></em>
		&nbsp;<br /> <em class="fa fa-smile-o"></em> &nbsp;<em
			class="fa fa-frown-o"></em> &nbsp;<em class="fa fa-meh-o"></em>
		&nbsp;<em class="fa fa-gamepad"></em> &nbsp;<em
			class="fa fa-keyboard-o"></em> &nbsp;<em class="fa fa-flag-o"></em>
		&nbsp;<em class="fa fa-flag-checkered"></em> &nbsp;<em
			class="fa fa-terminal"></em> &nbsp;<em class="fa fa-code"></em>
		&nbsp;<em class="fa fa-mail-reply-all"></em> &nbsp;<br /> <em
			class="fa fa-reply-all"></em> &nbsp;<em class="fa fa-star-half-empty"></em>
		&nbsp;<em class="fa fa-star-half-full"></em> &nbsp;<em
			class="fa fa-star-half-o"></em> &nbsp;<em
			class="fa fa-location-arrow"></em> &nbsp;<em class="fa fa-crop"></em>
		&nbsp;<em class="fa fa-code-fork"></em> &nbsp;<em class="fa fa-unlink"></em>
		&nbsp;<em class="fa fa-chain-broken"></em> &nbsp;<em
			class="fa fa-question"></em> &nbsp;<br /> <em class="fa fa-info"></em>
		&nbsp;<em class="fa fa-exclamation"></em> &nbsp;<em
			class="fa fa-superscript"></em> &nbsp;<em class="fa fa-subscript"></em>
		&nbsp;<em class="fa fa-eraser"></em> &nbsp;<em
			class="fa fa-puzzle-piece"></em> &nbsp;<em class="fa fa-microphone"></em>
		&nbsp;<em class="fa fa-microphone-slash"></em> &nbsp;<em
			class="fa fa-shield"></em> &nbsp;<em class="fa fa-calendar-o"></em>
		&nbsp;<br /> <em class="fa fa-fire-extinguisher"></em> &nbsp;<em
			class="fa fa-rocket"></em> &nbsp;<em class="fa fa-maxcdn"></em>
		&nbsp;<em class="fa fa-chevron-circle-left"></em> &nbsp;<em
			class="fa fa-chevron-circle-right"></em> &nbsp;<em
			class="fa fa-chevron-circle-up"></em> &nbsp;<em
			class="fa fa-chevron-circle-down"></em> &nbsp;<em
			class="fa fa-anchor"></em> &nbsp;<em class="fa fa-unlock-alt"></em>
		&nbsp;<em class="fa fa-bullseye"></em> &nbsp;<br /> <em
			class="fa fa-ellipsis-h"></em> &nbsp;<em class="fa fa-ellipsis-v"></em>
		&nbsp;<em class="fa fa-rss-square"></em> &nbsp;<em
			class="fa fa-play-circle"></em> &nbsp;<em class="fa fa-ticket"></em>
		&nbsp;<em class="fa fa-minus-square"></em> &nbsp;<em
			class="fa fa-minus-square-o"></em> &nbsp;<em class="fa fa-level-up"></em>
		&nbsp;<em class="fa fa-level-down"></em> &nbsp;<em
			class="fa fa-check-square"></em> &nbsp;<br /> <em
			class="fa fa-pencil-square"></em> &nbsp;<em
			class="fa fa-external-link-square"></em> &nbsp;<em
			class="fa fa-share-square"></em> &nbsp;<em class="fa fa-compass"></em>
		&nbsp;<em class="fa fa-toggle-down"></em> &nbsp;<em
			class="fa fa-caret-square-o-down"></em> &nbsp;<em
			class="fa fa-toggle-up"></em> &nbsp;<em
			class="fa fa-caret-square-o-up"></em> &nbsp;<em
			class="fa fa-toggle-right"></em> &nbsp;<em
			class="fa fa-caret-square-o-right"></em> &nbsp;<br /> <em
			class="fa fa-euro"></em> &nbsp;<em class="fa fa-eur"></em> &nbsp;<em
			class="fa fa-gbp"></em> &nbsp;<em class="fa fa-dollar"></em> &nbsp;<em
			class="fa fa-usd"></em> &nbsp;<em class="fa fa-rupee"></em> &nbsp;<em
			class="fa fa-inr"></em> &nbsp;<em class="fa fa-cny"></em> &nbsp;<em
			class="fa fa-rmb"></em> &nbsp;<em class="fa fa-yen"></em> &nbsp;<br />
		<em class="fa fa-jpy"></em> &nbsp;<em class="fa fa-ruble"></em> &nbsp;<em
			class="fa fa-rouble"></em> &nbsp;<em class="fa fa-rub"></em> &nbsp;<em
			class="fa fa-won"></em> &nbsp;<em class="fa fa-krw"></em> &nbsp;<em
			class="fa fa-bitcoin"></em> &nbsp;<em class="fa fa-btc"></em> &nbsp;<em
			class="fa fa-file"></em> &nbsp;<em class="fa fa-file-text"></em>
		&nbsp;<br /> <em class="fa fa-sort-alpha-asc"></em> &nbsp;<em
			class="fa fa-sort-alpha-desc"></em> &nbsp;<em
			class="fa fa-sort-amount-asc"></em> &nbsp;<em
			class="fa fa-sort-amount-desc"></em> &nbsp;<em
			class="fa fa-sort-numeric-asc"></em> &nbsp;<em
			class="fa fa-sort-numeric-desc"></em> &nbsp;<em
			class="fa fa-thumbs-up"></em> &nbsp;<em class="fa fa-thumbs-down"></em>
		&nbsp;<em class="fa fa-youtube-square"></em> &nbsp;<em
			class="fa fa-youtube"></em> &nbsp;<br /> <em class="fa fa-xing"></em>
		&nbsp;<em class="fa fa-xing-square"></em> &nbsp;<em
			class="fa fa-youtube-play"></em> &nbsp;<em class="fa fa-dropbox"></em>
		&nbsp;<em class="fa fa-stack-overflow"></em> &nbsp;<em
			class="fa fa-instagram"></em> &nbsp;<em class="fa fa-flickr"></em>
		&nbsp;<em class="fa fa-adn"></em> &nbsp;<em class="fa fa-bitbucket"></em>
		&nbsp;<em class="fa fa-bitbucket-square"></em> &nbsp;<br /> <em
			class="fa fa-tumblr"></em> &nbsp;<em class="fa fa-tumblr-square"></em>
		&nbsp;<em class="fa fa-long-arrow-down"></em> &nbsp;<em
			class="fa fa-long-arrow-up"></em> &nbsp;<em
			class="fa fa-long-arrow-left"></em> &nbsp;<em
			class="fa fa-long-arrow-right"></em> &nbsp;<em class="fa fa-apple"></em>
		&nbsp;<em class="fa fa-windows"></em> &nbsp;<em class="fa fa-android"></em>
		&nbsp;<em class="fa fa-linux"></em> &nbsp;<br /> <em
			class="fa fa-dribbble"></em> &nbsp;<em class="fa fa-skype"></em>
		&nbsp;<em class="fa fa-foursquare"></em> &nbsp;<em
			class="fa fa-trello"></em> &nbsp;<em class="fa fa-female"></em>
		&nbsp;<em class="fa fa-male"></em> &nbsp;<em class="fa fa-gittip"></em>
		&nbsp;<em class="fa fa-gratipay"></em> &nbsp;<em class="fa fa-sun-o"></em>
		&nbsp;<em class="fa fa-moon-o"></em> &nbsp;<br /> <em
			class="fa fa-archive"></em> &nbsp;<em class="fa fa-bug"></em> &nbsp;<em
			class="fa fa-vk"></em> &nbsp;<em class="fa fa-weibo"></em> &nbsp;<em
			class="fa fa-renren"></em> &nbsp;<em class="fa fa-pagelines"></em>
		&nbsp;<em class="fa fa-stack-exchange"></em> &nbsp;<em
			class="fa fa-arrow-circle-o-right"></em> &nbsp;<em
			class="fa fa-arrow-circle-o-left"></em> &nbsp;<em
			class="fa fa-toggle-left"></em> &nbsp;<br /> <em
			class="fa fa-caret-square-o-left"></em> &nbsp;<em
			class="fa fa-dot-circle-o"></em> &nbsp;<em class="fa fa-wheelchair"></em>
		&nbsp;<em class="fa fa-vimeo-square"></em> &nbsp;<em
			class="fa fa-turkish-lira"></em> &nbsp;<em class="fa fa-try"></em>
		&nbsp;<em class="fa fa-plus-square-o"></em> &nbsp;<em
			class="fa fa-space-shuttle"></em> &nbsp;<em class="fa fa-slack"></em>
		&nbsp;<em class="fa fa-envelope-square"></em> &nbsp;<br /> <em
			class="fa fa-wordpress"></em> &nbsp;<em class="fa fa-openid"></em>
		&nbsp;<em class="fa fa-institution"></em> &nbsp;<em class="fa fa-bank"></em>
		&nbsp;<em class="fa fa-university"></em> &nbsp;<em
			class="fa fa-mortar-board"></em> &nbsp;<em
			class="fa fa-graduation-cap"></em> &nbsp;<em class="fa fa-yahoo"></em>
		&nbsp;<em class="fa fa-google"></em> &nbsp;<em class="fa fa-reddit"></em>
		&nbsp;<br /> <em class="fa fa-reddit-square"></em> &nbsp;<em
			class="fa fa-stumbleupon-circle"></em> &nbsp;<em
			class="fa fa-stumbleupon"></em> &nbsp;<em class="fa fa-delicious"></em>
		&nbsp;<em class="fa fa-digg"></em> &nbsp;<em
			class="fa fa-pied-piper-pp"></em> &nbsp;<em
			class="fa fa-pied-piper-alt"></em> &nbsp;<em class="fa fa-drupal"></em>
		&nbsp;<em class="fa fa-joomla"></em> &nbsp;<em class="fa fa-language"></em>
		&nbsp;<br /> <em class="fa fa-fax"></em> &nbsp;<em
			class="fa fa-building"></em> &nbsp;<em class="fa fa-child"></em>
		&nbsp;<em class="fa fa-paw"></em> &nbsp;<em class="fa fa-spoon"></em>
		&nbsp;<em class="fa fa-cube"></em> &nbsp;<em class="fa fa-cubes"></em>
		&nbsp;<em class="fa fa-behance"></em> &nbsp;<em
			class="fa fa-behance-square"></em> &nbsp;<em class="fa fa-steam"></em>
		&nbsp;<br /> <em class="fa fa-steam-square"></em> &nbsp;<em
			class="fa fa-recycle"></em> &nbsp;<em class="fa fa-automobile"></em>
		&nbsp;<em class="fa fa-car"></em> &nbsp;<em class="fa fa-cab"></em>
		&nbsp;<em class="fa fa-taxi"></em> &nbsp;<em class="fa fa-tree"></em>
		&nbsp;<em class="fa fa-spotify"></em> &nbsp;<em
			class="fa fa-deviantart"></em> &nbsp;<em class="fa fa-soundcloud"></em>
		&nbsp;<br /> <em class="fa fa-database"></em> &nbsp;<em
			class="fa fa-file-pdf-o"></em> &nbsp;<em class="fa fa-file-word-o"></em>
		&nbsp;<em class="fa fa-file-excel-o"></em> &nbsp;<em
			class="fa fa-file-powerpoint-o"></em> &nbsp;<em
			class="fa fa-file-photo-o"></em> &nbsp;<em
			class="fa fa-file-picture-o"></em> &nbsp;<em
			class="fa fa-file-image-o"></em> &nbsp;<em class="fa fa-file-zip-o"></em>
		&nbsp;<em class="fa fa-file-archive-o"></em> &nbsp;<br /> <em
			class="fa fa-file-sound-o"></em> &nbsp;<em class="fa fa-file-audio-o"></em>
		&nbsp;<em class="fa fa-file-movie-o"></em> &nbsp;<em
			class="fa fa-file-video-o"></em> &nbsp;<em class="fa fa-file-code-o"></em>
		&nbsp;<em class="fa fa-vine"></em> &nbsp;<em class="fa fa-codepen"></em>
		&nbsp;<em class="fa fa-jsfiddle"></em> &nbsp;<em
			class="fa fa-life-bouy"></em> &nbsp;<em class="fa fa-life-buoy"></em>
		&nbsp;<br /> <em class="fa fa-life-saver"></em> &nbsp;<em
			class="fa fa-support"></em> &nbsp;<em class="fa fa-life-ring"></em>
		&nbsp;<em class="fa fa-circle-o-notch"></em> &nbsp;<em
			class="fa fa-ra"></em> &nbsp;<em class="fa fa-resistance"></em>
		&nbsp;<em class="fa fa-rebel"></em> &nbsp;<em class="fa fa-ge"></em>
		&nbsp;<em class="fa fa-empire"></em> &nbsp;<em
			class="fa fa-git-square"></em> &nbsp;<br /> <em class="fa fa-git"></em>
		&nbsp;<em class="fa fa-y-combinator-square"></em> &nbsp;<em
			class="fa fa-yc-square"></em> &nbsp;<em class="fa fa-hacker-news"></em>
		&nbsp;<em class="fa fa-tencent-weibo"></em> &nbsp;<em class="fa fa-qq"></em>
		&nbsp;<em class="fa fa-wechat"></em> &nbsp;<em class="fa fa-weixin"></em>
		&nbsp;<em class="fa fa-send"></em> &nbsp;<em class="fa fa-paper-plane"></em>
		&nbsp;<br /> <em class="fa fa-send-o"></em> &nbsp;<em
			class="fa fa-paper-plane-o"></em> &nbsp;<em class="fa fa-history"></em>
		&nbsp;<em class="fa fa-circle-thin"></em> &nbsp;<em
			class="fa fa-header"></em> &nbsp;<em class="fa fa-paragraph"></em>
		&nbsp;<em class="fa fa-sliders"></em> &nbsp;<em
			class="fa fa-share-alt"></em> &nbsp;<em
			class="fa fa-share-alt-square"></em> &nbsp;<em class="fa fa-bomb"></em>
		&nbsp;<br /> <em class="fa fa-soccer-ball-o"></em> &nbsp;<em
			class="fa fa-futbol-o"></em> &nbsp;<em class="fa fa-tty"></em> &nbsp;<em
			class="fa fa-binoculars"></em> &nbsp;<em class="fa fa-plug"></em>
		&nbsp;<em class="fa fa-slideshare"></em> &nbsp;<em
			class="fa fa-twitch"></em> &nbsp;<em class="fa fa-yelp"></em> &nbsp;<em
			class="fa fa-newspaper-o"></em> &nbsp;<em class="fa fa-wifi"></em>
		&nbsp;<br /> <em class="fa fa-calculator"></em> &nbsp;<em
			class="fa fa-paypal"></em> &nbsp;<em class="fa fa-google-wallet"></em>
		&nbsp;<em class="fa fa-cc-visa"></em> &nbsp;<em
			class="fa fa-cc-mastercard"></em> &nbsp;<em class="fa fa-cc-discover"></em>
		&nbsp;<em class="fa fa-cc-amex"></em> &nbsp;<em
			class="fa fa-cc-paypal"></em> &nbsp;<em class="fa fa-cc-stripe"></em>
		&nbsp;<em class="fa fa-bell-slash"></em> &nbsp;<br /> <em
			class="fa fa-bell-slash-o"></em> &nbsp;<em class="fa fa-trash"></em>
		&nbsp;<em class="fa fa-copyright"></em> &nbsp;<em class="fa fa-at"></em>
		&nbsp;<em class="fa fa-eyedropper"></em> &nbsp;<em
			class="fa fa-paint-brush"></em> &nbsp;<em class="fa fa-birthday-cake"></em>
		&nbsp;<em class="fa fa-area-chart"></em> &nbsp;<em
			class="fa fa-pie-chart"></em> &nbsp;<em class="fa fa-line-chart"></em>
		&nbsp;<br /> <em class="fa fa-lastfm"></em> &nbsp;<em
			class="fa fa-lastfm-square"></em> &nbsp;<em class="fa fa-toggle-off"></em>
		&nbsp;<em class="fa fa-toggle-on"></em> &nbsp;<em
			class="fa fa-bicycle"></em> &nbsp;<em class="fa fa-bus"></em> &nbsp;<em
			class="fa fa-ioxhost"></em> &nbsp;<em class="fa fa-angellist"></em>
		&nbsp;<em class="fa fa-cc"></em> &nbsp;<em class="fa fa-shekel"></em>
		&nbsp;<br /> <em class="fa fa-sheqel"></em> &nbsp;<em
			class="fa fa-ils"></em> &nbsp;<em class="fa fa-meanpath"></em> &nbsp;<em
			class="fa fa-buysellads"></em> &nbsp;<em class="fa fa-connectdevelop"></em>
		&nbsp;<em class="fa fa-dashcube"></em> &nbsp;<em
			class="fa fa-forumbee"></em> &nbsp;<em class="fa fa-leanpub"></em>
		&nbsp;<em class="fa fa-sellsy"></em> &nbsp;<em
			class="fa fa-shirtsinbulk"></em> &nbsp;<br /> <em
			class="fa fa-simplybuilt"></em> &nbsp;<em class="fa fa-skyatlas"></em>
		&nbsp;<em class="fa fa-cart-plus"></em> &nbsp;<em
			class="fa fa-cart-arrow-down"></em> &nbsp;<em class="fa fa-diamond"></em>
		&nbsp;<em class="fa fa-ship"></em> &nbsp;<em class="fa fa-user-secret"></em>
		&nbsp;<em class="fa fa-motorcycle"></em> &nbsp;<em
			class="fa fa-street-view"></em> &nbsp;<em class="fa fa-heartbeat"></em>
		&nbsp;<br /> <em class="fa fa-venus"></em> &nbsp;<em
			class="fa fa-mars"></em> &nbsp;<em class="fa fa-mercury"></em> &nbsp;<em
			class="fa fa-intersex"></em> &nbsp;<em class="fa fa-transgender"></em>
		&nbsp;<em class="fa fa-transgender-alt"></em> &nbsp;<em
			class="fa fa-venus-double"></em> &nbsp;<em class="fa fa-mars-double"></em>
		&nbsp;<em class="fa fa-venus-mars"></em> &nbsp;<em
			class="fa fa-mars-stroke"></em> &nbsp;<br /> <em
			class="fa fa-mars-stroke-v"></em> &nbsp;<em
			class="fa fa-mars-stroke-h"></em> &nbsp;<em class="fa fa-neuter"></em>
		&nbsp;<em class="fa fa-genderless"></em> &nbsp;<em
			class="fa fa-facebook-official"></em> &nbsp;<em
			class="fa fa-pinterest-p"></em> &nbsp;<em class="fa fa-whatsapp"></em>
		&nbsp;<em class="fa fa-server"></em> &nbsp;<em class="fa fa-user-plus"></em>
		&nbsp;<em class="fa fa-user-times"></em> &nbsp;<br /> <em
			class="fa fa-hotel"></em> &nbsp;<em class="fa fa-bed"></em> &nbsp;<em
			class="fa fa-viacoin"></em> &nbsp;<em class="fa fa-train"></em>
		&nbsp;<em class="fa fa-subway"></em> &nbsp;<em class="fa fa-medium"></em>
		&nbsp;<em class="fa fa-yc"></em> &nbsp;<em class="fa fa-y-combinator"></em>
		&nbsp;<em class="fa fa-optin-monster"></em> &nbsp;<em
			class="fa fa-opencart"></em> &nbsp;<br /> <em
			class="fa fa-expeditedssl"></em> &nbsp;<em class="fa fa-battery-full"></em>
		&nbsp;<em class="fa fa-battery-three-quarters"></em> &nbsp;<em
			class="fa fa-battery-half"></em> &nbsp;<em
			class="fa fa-battery-quarter"></em> &nbsp;<em
			class="fa fa-battery-empty"></em> &nbsp;<em
			class="fa fa-mouse-pointer"></em> &nbsp;<em class="fa fa-i-cursor"></em>
		&nbsp;<em class="fa fa-object-group"></em> &nbsp;<em
			class="fa fa-object-ungroup"></em> &nbsp;<br /> <em
			class="fa fa-sticky-note"></em> &nbsp;<em class="fa fa-sticky-note-o"></em>
		&nbsp;<em class="fa fa-cc-jcb"></em> &nbsp;<em
			class="fa fa-cc-diners-club"></em> &nbsp;<em class="fa fa-clone"></em>
		&nbsp;<em class="fa fa-balance-scale"></em> &nbsp;<em
			class="fa fa-hourglass-o"></em> &nbsp;<em
			class="fa fa-hourglass-start"></em> &nbsp;<em
			class="fa fa-hourglass-half"></em> &nbsp;<em
			class="fa fa-hourglass-end"></em> &nbsp;<br /> <em
			class="fa fa-hourglass"></em> &nbsp;<em class="fa fa-hand-grab-o"></em>
		&nbsp;<em class="fa fa-hand-rock-o"></em> &nbsp;<em
			class="fa fa-hand-stop-o"></em> &nbsp;<em class="fa fa-hand-paper-o"></em>
		&nbsp;<em class="fa fa-hand-scissors-o"></em> &nbsp;<em
			class="fa fa-hand-lizard-o"></em> &nbsp;<em
			class="fa fa-hand-spock-o"></em> &nbsp;<em
			class="fa fa-hand-pointer-o"></em> &nbsp;<em
			class="fa fa-hand-peace-o"></em> &nbsp;<br /> <em
			class="fa fa-trademark"></em> &nbsp;<em class="fa fa-registered"></em>
		&nbsp;<em class="fa fa-creative-commons"></em> &nbsp;<em
			class="fa fa-gg"></em> &nbsp;<em class="fa fa-gg-circle"></em> &nbsp;<em
			class="fa fa-tripadvisor"></em> &nbsp;<em class="fa fa-odnoklassniki"></em>
		&nbsp;<em class="fa fa-odnoklassniki-square"></em> &nbsp;<em
			class="fa fa-get-pocket"></em> &nbsp;<em class="fa fa-wikipedia-w"></em>
		&nbsp;<br /> <em class="fa fa-safari"></em> &nbsp;<em
			class="fa fa-chrome"></em> &nbsp;<em class="fa fa-firefox"></em>
		&nbsp;<em class="fa fa-opera"></em> &nbsp;<em
			class="fa fa-internet-explorer"></em> &nbsp;<em class="fa fa-tv"></em>
		&nbsp;<em class="fa fa-television"></em> &nbsp;<em
			class="fa fa-contao"></em> &nbsp;<em class="fa fa-amazon"></em>
		&nbsp;<em class="fa fa-calendar-plus-o"></em> &nbsp;<br /> <em
			class="fa fa-calendar-minus-o"></em> &nbsp;<em
			class="fa fa-calendar-times-o"></em> &nbsp;<em
			class="fa fa-calendar-check-o"></em> &nbsp;<em class="fa fa-industry"></em>
		&nbsp;<em class="fa fa-map-pin"></em> &nbsp;<em
			class="fa fa-map-signs"></em> &nbsp;<em class="fa fa-map-o"></em>
		&nbsp;<em class="fa fa-map"></em> &nbsp;<em class="fa fa-commenting"></em>
		&nbsp;<em class="fa fa-commenting-o"></em> &nbsp;<br /> <em
			class="fa fa-houzz"></em> &nbsp;<em class="fa fa-vimeo"></em> &nbsp;<em
			class="fa fa-black-tie"></em> &nbsp;<em class="fa fa-fonticons"></em>
		&nbsp;<em class="fa fa-reddit-alien"></em> &nbsp;<em
			class="fa fa-edge"></em> &nbsp;<em class="fa fa-credit-card-alt"></em>
		&nbsp;<em class="fa fa-codiepie"></em> &nbsp;<em class="fa fa-modx"></em>
		&nbsp;<em class="fa fa-fort-awesome"></em> &nbsp;<br /> <em
			class="fa fa-usb"></em> &nbsp;<em class="fa fa-product-hunt"></em>
		&nbsp;<em class="fa fa-mixcloud"></em> &nbsp;<em class="fa fa-scribd"></em>
		&nbsp;<em class="fa fa-pause-circle"></em> &nbsp;<em
			class="fa fa-pause-circle-o"></em> &nbsp;<em
			class="fa fa-stop-circle"></em> &nbsp;<em class="fa fa-stop-circle-o"></em>
		&nbsp;<em class="fa fa-shopping-bag"></em> &nbsp;<em
			class="fa fa-shopping-basket"></em> &nbsp;<br /> <em
			class="fa fa-hashtag"></em> &nbsp;<em class="fa fa-bluetooth"></em>
		&nbsp;<em class="fa fa-bluetooth-b"></em> &nbsp;<em
			class="fa fa-percent"></em> &nbsp;<em class="fa fa-gitlab"></em>
		&nbsp;<em class="fa fa-wpbeginner"></em> &nbsp;<em
			class="fa fa-wpforms"></em> &nbsp;<em class="fa fa-envira"></em>
		&nbsp;<em class="fa fa-universal-access"></em> &nbsp;<em
			class="fa fa-wheelchair-alt"></em> &nbsp;<br /> <em
			class="fa fa-question-circle-o"></em> &nbsp;<em class="fa fa-blind"></em>
		&nbsp;<em class="fa fa-audio-description"></em> &nbsp;<em
			class="fa fa-volume-control-phone"></em> &nbsp;<em
			class="fa fa-braille"></em> &nbsp;<em
			class="fa fa-assistive-listening-systems"></em> &nbsp;<em
			class="fa fa-asl-interpreting"></em> &nbsp;<em
			class="fa fa-american-sign-language-interpreting"></em> &nbsp;<em
			class="fa fa-deafness"></em> &nbsp;<em class="fa fa-hard-of-hearing"></em>
		&nbsp;<br /> <em class="fa fa-deaf"></em> &nbsp;<em
			class="fa fa-glide"></em> &nbsp;<em class="fa fa-glide-g"></em>
		&nbsp;<em class="fa fa-signing"></em> &nbsp;<em
			class="fa fa-sign-language"></em> &nbsp;<em class="fa fa-low-vision"></em>
		&nbsp;<em class="fa fa-viadeo"></em> &nbsp;<em
			class="fa fa-viadeo-square"></em> &nbsp;<em class="fa fa-snapchat"></em>
		&nbsp;<em class="fa fa-snapchat-ghost"></em> &nbsp;<br /> <em
			class="fa fa-snapchat-square"></em> &nbsp;<em
			class="fa fa-pied-piper"></em> &nbsp;<em class="fa fa-first-order"></em>
		&nbsp;<em class="fa fa-yoast"></em> &nbsp;<em class="fa fa-themeisle"></em>
		&nbsp;<em class="fa fa-google-plus-circle"></em> &nbsp;<em
			class="fa fa-google-plus-official"></em> &nbsp;<em class="fa fa-fa"></em>
		&nbsp;<em class="fa fa-font-awesome"></em> &nbsp;
	</div>
</body>
</html>